In [1]:
import pandas as pd

In [29]:
data = pd.read_csv("data/curva_juros_nominal_us.txt", sep="\t")

In [30]:
data['Dates'] = pd.to_datetime(data['Dates'])
data.rename(columns={"Dates": "date"}, inplace=True)
data = data.set_index("date")

monthly_data = data.resample("B").mean().ffill().resample("M").last().reset_index()
monthly_data['date'] = [dtref.strftime("%Y-%m-%d") for dtref in monthly_data['date']]

In [32]:
monthly_data.to_csv("data/curva_juros_us_mensal.csv",
                    sep=",",
                    index=False)

In [33]:
teste = pd.read_csv("data/curva_juros_us_mensal.csv", sep=",")
teste.tail()

           date  USGG2YR Index  USGG5YR Index  USGG10YR Index  USGG30YR Index
621  2022-02-28         1.4323         1.7177          1.8250          2.1611
622  2022-03-31         2.3345         2.4599          2.3380          2.4476
623  2022-04-30         2.7146         2.9549          2.9336          2.9972
624  2022-05-31         2.5565         2.8173          2.8441          3.0451
625  2022-06-30         2.6296         2.9094          2.9095          3.0763